
:root{
    --pink-color: #cb60b3;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cb60b3 1%, #a80077 21%, #cb60b3 42%, #c146a1 61%, #a80077 69%, #c146a1 85%, #c146a1 85%, #db36a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #cb60b3 1%,#a80077 21%,#cb60b3 42%,#c146a1 61%,#a80077 69%,#c146a1 85%,#c146a1 85%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #cb60b3 1%,#a80077 21%,#cb60b3 42%,#c146a1 61%,#a80077 69%,#c146a1 85%,#c146a1 85%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}
.dispnone{
    display: none;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
}
h2{
    text-align: center;
    
}

.flex{
    display: flex;
    justify-content: space-between;
}
.flex>*{
    flex: 1;

}
.flex-x3>*{
    max-width: 30%;
}
.flex-x2>*{
    max-width: 47%;
}
.flexpetit{
    display: flex;
    
}

.text-blanc{
    color: #ccc ;
}
.text-rose{
    color: var(--pink-color);
}
.cadre-blanc{
    border: 2px solid #ddd;
}
.gras{
    color: #ffffff;
    font-weight: bolder;
}
.souligne{
    border: solid 2px var(--pink-color);
}
.grand{
    width: 60px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.petit{
    width: 40px;
}
.gauche{
    text-align: left;
}
.blanche{
    background-color: #ddd ;
}
.noire{
    background-color: #222;
}  
.gouttiere {
    width: 80%;
    margin: 0 auto;
}
.bouton{
    
    border: 2px solid var(--pink-color);
    padding: 16px;
    display: inline-block;
    margin: 16px 0;
}
.centrer{
    text-align: center;
    
}
#burger div{
    width: 50px;
    border: 2px solid #ccc;
    margin: 0.8em;    
}
header{
    width: 80%;
    margin: 0 auto;
}
#logo{
    flex: 1;
}
#logo  img{
    width: 150px;
}
nav{
    flex: 3;
    padding-top: 75px;
}
nav a {
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}
nav a:hover{
    border-bottom: 2px solid #ccc;
}


#wraper{
    width: 80%;
    margin: 0 auto;
    background-color: #ddd ;
}


.banniere{
    color: #eee;
    height: 500px;
    background: url("img/banniere.jpg") no-repeat center ;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: top center;
}
/*accordéon*/
.accordion-element{
    border: 1px solid #aaaaaa;
    margin-bottom: 1em;
    padding: 0 2em;
}
.accordion-element:not(:first-child) p{/*  on affiche le premier p*//*Il faut coller les ":"*/
    display: none;/*mais pas les autres*/
}
.accordion-element .fas /*on vise les fontawesome*/{
    margin-left: -1.5em;
    margin-right:0.5em;
}
.accordion-element h4, .accordion-element p{
    margin: 0.8rem 0;/*root em donc le em du navigateur*/
}
/*fin d'accordéon*/
/*debut galerie*/
.galerie{
    display: flex;
    flex-wrap: wrap;
}
figure{
    position: relative;
}
figure.image{
    width: 25%;
    overflow: hidden;
    margin: 0;
    height: 200px;
    
}
.image img{
    object-fit: cover;
    width: 100%;
}
.picture:hover{
    cursor: pointer;
}

#img2{
    transform: translateY(-110px);
}
#img5{
    transform: translateY(-190px);
}
.fa-music, .fa-youtube{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.50;
    
}
.fa-music:hover{
    color: var(--pink-color);
    opacity: 1;
}
.fa-youtube:hover{
    color: var(--pink-color);
    opacity:1;
}

/*subgalerie*/
#more{
    max-width: 150px;
    float: right;
    padding: 15px;
    text-align: center;
}
#tri a{
    padding-right: 16px;
}
#tri a:hover{
    color: #222;
}
#tri a.text-rose{
    color: var(--pink-color);
}
/*fin galerie*/
/*début testimonial*/
#testimonials>div{/*le chevron">" veut dire tout les enfants direct*/
    align-items: flex-start;
    padding: 2em 0;
    border-bottom: 1px solid #aaa;
}
#testimonials>div:last-child{/*le dernier des enfants direct*/
    border: none;
}
#testimonials img{
    height: 5em;
    margin:0 1em 0 0;
}
#testimonials>div:nth-child(even){/*tout les enfants pairs*/
    flex-direction: row-reverse;
    text-align: right;
}
#testimonials>div:nth-child(even) img{/*mettre un espace aprés la parenthése*/
    margin: 0 0 0 1em
}
blockquote{
    margin: 0em;
}
blockquote p{
    font-style: italic;
    font-size: 1.5em;
    margin-top: 0;
}
/*fin testimonial*/
.buy{
    margin-top: 50px;
    height: 400px;
    background: url(img/paralax.jpg) no-repeat center fixed;/*fixed fais le parallax*/
    
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}
/*debut form*/
form label,form input,form textarea{
    display: inline-block;
    width: 100%;
    height: 2em;
    line-height: 1.5em;
    vertical-align: bottom;
}
form label{
    margin-top: 1em;
    height: 1em;
    line-height: 1em;
}
form input, form textarea{
    border: none;
    background-color: #eee;
}
form textarea{
    height: 6em;
}
#send{
    background-color: var(--pink-color);
    margin-top: 1em;
}
/*fin form*/
 #down{
    background-color: #222;
    padding:0 10%;
    
}
#newmail{
    background-color: #333;
    color: #ccc;
}

#sub{
    background-color: #222;
}
